streamlit
pandas
numpy
sentence-transformers
spacy
transformers==4.36.2
pymupdf
openpyxl
spacy-lookups-data
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl
torch==2.0.0
torchvision==0.15.0
torchaudio==2.0.0


