streamlit
pandas
numpy
sentence-transformers
spacy
transformers
pymupdf
openpyxl
spacy-lookups-data
torch
torchvision
torchaudio
markdown-it-py==2.2.0
rich==13.3.5
pygments==2.15.1


